html {
    scroll-behavior: smooth;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: left;
    color: black;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: yellow;
    padding: 20px;
}

#title span {
    position: relative;
    top: 0px;
    left: 200px;
}

#title div {
    position: relative;
    top: 0px; 
    left: 0px;
}

#button-advantages {
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;
    margin-left: 1500px;
    margin-top: -50px;
    border: 2px solid black;
    background-color: yellow; /* Add a background color for the button */
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

#button-advantages:hover {
    background-color: black;
    color: white;
}

#button-breeds {
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;
    margin-left: 1700px;
    margin-top: -50px;
    border: 2px solid black;
    background-color: yellow; /* Add a background color for the button */
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

#button-breeds:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#breeds-page-title {
    font-size: 50px;
    text-align: center;
    color: yellow;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 20px;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; /* Ensures that any content that overflows the boundaries of the table is hidden */
}

.content-table th {
    background-color: orange;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th, td {
    padding: 12px 15px;
    color: white;
}
/* Add a bottom border to all table rows and data cells */
.content-table tbody tr, td { 
    border-bottom: 2px solid white;
}

#title-bottom-page {
    font-size: 40px;
    text-align: center;
    color: yellow;
    margin-right: 550px;
}

#paragraph-title {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: -20px;
} 